@{
    ViewBag.Title = "Topp Pro Custom Sound";
}

@section Styles {
    <style type="text/css">
        #main
        {
            padding: 0 0 91px;
        }
    </style>
}

<div style="text-align: center;">
    <img src="@Url.Content("~/Areas/Humanist/Content/Images/cs1.jpg")" alt=""
        width="999" height="1294" />
    <img src="@Url.Content("~/Areas/Humanist/Content/Images/cs2.jpg")" alt=""
        width="999" height="1114" />
    <img src="@Url.Content("~/Areas/Humanist/Content/Images/cs3.jpg")" alt=""
        width="999" height="1183" />
</div>
