@using Topppro.WebSite.Areas.Humanist.Resources

@{
    ViewBag.Title = ":: Topp Pro Professional Audio Gear - Software Library ::";
}

@section Styles {
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Areas/Humanist/Content/Styles/m-forms.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Areas/Humanist/Content/Styles/m-icons.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Areas/Humanist/Content/Styles/m-buttons.min.css")" />
}

<img src="@Url.Content("~/Areas/Humanist/Content/Images/software-bottom.jpg")" alt="Software" />
<br /><br />

<h2 style="font-weight: lighter;color: #646369;">
    Download from here the most recent firmware and software to control your Topp Pro Hardware</h2>
    <br /><br />

<div class="title">
    <h1>T20
    <small>Digital Mixer Software</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="#" class="m-btn green-stripe">T20i Update For Windows</a></li>
        <li>
            <a href="#" class="m-btn green-stripe">Firmware Update Instructions</a></li>
        <li>
            <a href="#" class="m-btn green-stripe">Update Release</a></li>
        <li>
            <a href="#" class="m-btn green-stripe">iPad & iPhone Controll App</a></li>
    </ul>
</div>
<br /><br />

<div class="title">
    <h1>DMX24.4
    <small>Digital Mixer Software</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="#" class="m-btn green-stripe">Firmware Update (v2.9)</a></li>
        <li>
            <a href="#" class="m-btn green-stripe">Firmware Update Instructions</a></li>
        <li>
            <a href="#" class="m-btn green-stripe">PC Editor for Windows</a></li>
        <li>
            <a href="#" class="m-btn green-stripe">iPad & iPhone Controll App</a></li>
    </ul>
</div>
<br /><br />

<div class="title">
    <h1>CS
    <small>Modules</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="#" class="m-btn green-stripe">iPad & iPhone Controll App</a></li>
    </ul>
</div>
<br /><br />
