@using Framework.MVC.Resources
@using Framework.MVC.Extensions
@using Topppro.Entities.Resources

@model Topppro.Entities.Serie

@{
    ViewBag.Title = PersistanceResource.Details;
}

<fieldset>
    <legend>@Ent_SerieResource._Caption</legend>

    @Html.DisplayFor(m => Model)

</fieldset>
<p>
    @Html.ActionLink(PersistanceResource.Edit, "Edit", new { id = Model.SerieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
