@using Topppro.SecureSite.Models;

@model Topppro.Entities.Country

@{
    ViewBag.Title = "Details";
    ViewBag.CurrentMenu = Menu_Enum.Countries;
}

<fieldset>
    <legend>Country</legend>

    @Html.DisplayForModel()

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CountryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
