@using Topppro.Entities
@using Framework.Common.Extensions
@using Topppro.WebSite.Areas.Humanist.Resources
@using Topppro.WebSite.Areas.Humanist.Extensions

@model Topppro.Entities.Assn_CategorySerie

<div class="title">
    <h1>ACTIVE <small>Speakers</small></h1>
</div>

<div class="title">
    <h1>@Model.Serie.Name.ToUpper() <small>Series</small></h1>
</div>

<p style="text-align: justify; margin:1.33em 0 2.33em;">@Html.Raw(Localization.Speakers_Index_Ks_Cs_Message)</p>

@Html.Catalog()
