@model Topppro.Entities.Culture

@{
    ViewBag.Title = "Delete";
}

<h3>Confirm Delete ?</h3>
<fieldset>
    <legend>Culture</legend>

    @Html.DisplayForModel()

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input class="btn btn-danger" type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
