@using Topppro.SecureSite.Models;

@model Topppro.Entities.Culture

@{
    ViewBag.Title = "Details";
    ViewBag.CurrentMenu = Menu_Enum.Languages;
}

<fieldset>
    <legend>Culture</legend>

    @Html.DisplayForModel()

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>