<div class="row my-3">
    <div class="col-3">
        <img src="https://unsplash.com/photos/bAEG-LbgQ7o/download?force=true&w=640" class="img-fluid" alt="">
    </div>
    <div class="col-9">
        <div class="media">
            <div class="media-body">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Objeto multimedia basado en listas</h5>
                    <small>Hace 3 días</small>
                </div>
                <p class="mb-1">Debido a que el objeto multimedia tiene tan pocos requisitos estructurales, también puede usar estas clases en elementos HTML de lista. En su <code>ul</code> o <code>ol</code>, agregue .list-unstyled para eliminar cualquier estilo de lista predeterminado del navegador y luego aplique .media a sus <code>li</code>. Como siempre, utilice las utilidades de espaciado donde sea necesario para realizar ajustes.</p>
                <small>Este objeto multimedia es para Bootstrap 4.</small>
            </div>
        </div>
    </div>
</div>