<div class="row my-3">
    <div class="col-3">
        <img src="https://unsplash.com/photos/jyoTLVMv9So/download?force=true&w=640" class="img-fluid" alt="">
    </div>
    <div class="col-9">
        <div class="media">
            <div class="media-body">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List-based media object</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">Because the media object has so few structural requirements, you can also use these classes on list HTML elements. On your <code>ul</code> or <code>ol</code>, add the .list-unstyled to remove any browser default list styles, and then apply .media to your <code>li</code>. As always, use spacing utilities wherever needed to fine tune.</p>
                <small>This media object is for Bootstrap 4.</small>
            </div>
        </div>
    </div>
</div>