@using Topppro.WebSite.Extensions

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="pb-2 mb-2 border-bottom">
                <h1>News</h1>
            </div>
        </div>
    </div>
    @Html.Article(
        image:"https://unsplash.com/photos/PDX_a_82obo/download?force=true&w=640",
        title:"List-based media object",
        content: "Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.",
        info: "Writen by John Foo",
        date: "3 days ago")

    @Html.Article(
        image: "https://unsplash.com/photos/HU-uL54pfQI/download?force=true&w=640",
        title:"List-based media object",
        content: "Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.")

    @Html.Article(
        image: "https://unsplash.com/photos/OKLqGsCT8qs/download?force=true&w=640",
        title:"List-based media object",
        content: "Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.",
        info: "Writen by John Foo",
        date: "3 days ago")

    <!-- NEWS ITEM -->
    <!--<div class="row my-3">
        <div class="col-3">
            <img src="news/malte-wingen-PDX_a_82obo-unsplash.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-9">
            <div class="media">
                <div class="media-body">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List-based media object</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <small>Donec id elit non mi porta.</small>
                </div>
            </div>
        </div>
    </div>-->
    <!-- /NEW ITEM -->

</div>