@using Framework.Common.Extensions
@using Topppro.WebSite.Areas.Humanist.Resources
@using Topppro.WebSite.Areas.Humanist.Extensions

@model Topppro.Entities.Assn_CategorySerie

@Html.T20Banner()
<br />

<div class="title">
    <h1>DIGITAL <small>Mixers</small></h1>
</div>

@Html.Catalog()
