@model IEnumerable<Topppro.WebSite.Areas.Customers.Models.DownloadContentModel>

@section Styles {
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-forms.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-icons.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-buttons.min.css")" />
}

<div class="title">
    <h1>Dashboard
        <small>Downloadable Content</small>
    </h1>
</div>

<p style="margin-top: 26px;">
    @Html.DisplayForModel()
</p>
