<p>
    @Html.ActionLink("Create", "Create", "Attribute", new { id = ViewBag.ProductId },
        new { @class = "btn btn-primary editor-dialog", @role = "button", @type = "type-warning", @title = string.Format("{0} {1}", "Create", "Attribute") })
        
    @Html.ActionLink("Export", "Export", "Attribute", new { id = ViewBag.ProductId }, 
        new { @class = "btn btn-warning", @role = "button" })
        
    @Html.ActionLink("Import", "Import", "Attribute", new { id = ViewBag.ProductId },
        new { @class = "btn btn-success import-dialog", @role = "button", @type = "type-success", @title = string.Format("{0} {1}", "Import", "Attribute"), @refresh = "#attribute-list" })
</p>
