@using Framework.MVC.Resources
@using Topppro.Entities.Resources

<p>
    @Html.ActionLink(PersistanceResource.Create, "Create", "Bullet", new { id = ViewBag.ProductId },
        new { @class = "btn btn-primary editor-dialog", @role = "button", @type = "type-warning", @title = string.Format("{0} {1}", PersistanceResource.Create, Ent_BulletResource._Caption) })
        
    @Html.ActionLink(PersistanceResource.Export, "Export", "Bullet", new { id = ViewBag.ProductId }, 
        new { @class = "btn btn-warning", @role = "button" })
        
    @Html.ActionLink(PersistanceResource.Import, "Import", "Bullet", new { id = ViewBag.ProductId },
                new { @class = "btn btn-success import-dialog", @role = "button", @type = "type-success", @title = string.Format("{0} {1}", PersistanceResource.Import, Ent_BulletResource._Caption), @refresh = "#bullet-list" })
</p>

