@using Framework.MVC.Resources
@using Framework.MVC.Extensions
@using Topppro.Entities.Resources

@model Topppro.Entities.Product

@{
    ViewBag.Title = PersistanceResource.Details;
}

<fieldset>
    <legend>@Ent_ProductResource._Caption</legend>

    @Html.DisplayFor(model => Model)

</fieldset>
<p>
    @Html.ActionLink(PersistanceResource.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
