@using Topppro.SecureSite.Models;

@model Topppro.Entities.Serie

@{
    ViewBag.Title = "Create";
    ViewBag.CurrentMenu = Menu_Enum.Series;
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
    <fieldset>
        <legend>Serie</legend>

        @Html.EditorFor(model => Model)

        <p>
            <input class="btn btn-primary" type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Html.Partial("_Validator")
}
