@using Topppro.SecureSite.Models;

@model Topppro.Entities.Serie

@{
    ViewBag.Title = "Delete";
    ViewBag.CurrentMenu = Menu_Enum.Series;
}

<h3>Confirm Delete ?</h3>
<fieldset>
    <legend>Serie</legend>

    @Html.DisplayFor(m => Model)

</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input class="btn btn-danger" type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
