a.no-underline
{
    text-decoration: none !important;
}

.back-footer-blue
{
    background-color: #8a24eb;
    border-top: 0px solid #fff;
}

.back-footer-brown
{
    background-color: #853500;
    border-top: 0px solid #fff;
}