ol
{
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
}
ol > li
{
    position: relative;
    margin: 0 0 6px 0;
    padding: 4px 8px;
    list-style: none;
    border-top: 2px solid #666;
    background: #c6c6c6;
    display: inline-block;
    max-width: 195px;
}
li img
{
    padding: 0 0 6px 0;
}
ol > li:before
{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2em;
    margin-right: 8px;
    padding: 4px;
    border-top: 2px solid #666;
    color: #fff;
    background: #666;
    font-weight: bold;
    text-align: center;
}
li ol, li ul
{
    margin-top: 6px;
}
ol ol li:last-child
{
    margin-bottom: 0;
}
