<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="jumbotron catalog rounded-0">
                <p>Download here our 2020<br>Catalog Line Product</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Download Now !</a>
            </div>
        </div>
    </div>
</div>