<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="jumbotron catalog rounded-0">
                <p>@Resources.Global.DownloadCatalog</p>
                <a class="btn btn-primary btn-lg" href="catalogs\topppro-en.pdf" role="button" target="_blank">@Resources.Global.DownloadNow</a>
            </div>
        </div>
    </div>
</div>