<!-- FOOTER -->
<footer class="footer text-white bg-dark pb-3">
    <div class="jumbotron bottom rounded-0"></div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <img src="~/images/topp-logo.png" class="img-fluid mt-auto d-block" alt="" width="90">
            </div>
            <div class="col-2"></div>
            <div class="col-md-auto">
                <h5>Topp Pro Professional Audio Gear</h5>
                <span class="d-block">
                    <b>Worldwide Distribution Contact</b>
                </span>
                <span class="d-block">No.1, Lane 17, Sec. 2, Hanshi W. Road</span>
                <span class="d-block">Tiachung, Taiwan</span>
                <span class="d-block">Ph. +886-4-22313737 ext. 122<br>Fax. +886-4-22346757</span>
                <span class="d-block mt-2">Copyright 2020 - All Rights Reserved</span>
            </div>
        </div>
    </div>
</footer>
<!-- /FOOTER -->