<tr>
    <td>
        &nbsp;
    </td>
    <td width="148">
        &nbsp;
    </td>
    <td width="30">
        &nbsp;
    </td>
    <td width="150">
        &nbsp;
    </td>
    <td width="30">
        &nbsp;
    </td>
    <td width="150">
        &nbsp;
    </td>
    <td width="32">
        &nbsp;
    </td>
    <td width="148">
        &nbsp;
    </td>
    <td width="32">
        &nbsp;
    </td>
    <td width="148">
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
</tr>
