@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@model Topppro.Entities.Assn_CategorySerieProduct

@if (!Model.Product.GetHiRes().IsEmpty()) {
    <p>
        <a href="@Url.RouteUrl("HiRes", new { controller = ViewContext.RouteData.Values["controller"], id = Model.Id, name = Model.Product.Name.ToSeoSlug() })">
        <img src="@Url.Content("~/Content/Images/hi-res-photos.jpg")" alt="@Localization.HiRes_Pics" style="margin-right:5px;" width="30" height="24" />
        <b>@Localization.HiRes_Pics</b></a>
    </p>
}
