<tr>
    <td>
        <img src="@Url.Content("~/Content/Images/middle1-separator.png")" width="45" height="24" alt="" />
    </td>
    <td width="167">
        &nbsp;
    </td>
    <td width="16">
        <img src="@Url.Content("~/Content/Images/middle1-separator.png")" width="16" height="24" />
    </td>
    <td colspan="7">
        <img src="@Url.Content("~/content/Images/long-spacer.png")" width="700" height="24" />
    </td>
    <td>
        <img src="@Url.Content("~/Content/Images/middle1-separator.png")" width="45" height="24" alt="" />
    </td>
</tr>
