<tr>
    <td>
        &nbsp;
    </td>
    <td colspan="9">
        <img src="@Url.Content("~/Content/Images/spacer.png")" alt="spacer" width="881" height="12">
    </td>
    <td>
        &nbsp;
    </td>
</tr>
