
@model System.Web.Mvc.HandleErrorInfo

<div class="container">
    <!-- CATEGORY -->
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Ops!</h1>
                    <p class="lead">We apologize for your inconvenience, but this request could not be processed.</p>
                </div>
            </div>
        </div>
    </div>
</div>