@using Topppro.WebSite.Resources

@model System.Web.Mvc.HandleErrorInfo

<p align="center">
    <img src="@Url.Content("~/Content/Images/topp-error.jpg")" alt="topp logo" width="250" height="250" />
</p>
<h1 style="text-align:center;">@ErrorResource.Title</h1>
<h2 style="text-align:center;">@ErrorResource.Message</h2>
