@model Topppro.Entities.Model

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Model</legend>

    @Html.DisplayForModel()

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
