.bg-dark{
    background-color: #000 !important;
}
.menu-area{
    position: static;
}
.mega-area{
    position: absolute !important;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px !important;
}
.dropdown-menu{
    padding: 5px 0;
}
h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
/* TOPPPRO STYLE */
a#mega-one + div.dropdown-menu{
    font-size: 0.7em;
    border: none;
    border-radius: 0;
    margin-top: 0;
    background: #5e5e5e;
    color: #fff;
}
a#mega-one + div.dropdown-menu  a.dropdown-item{
    color: #fff;
}
a#mega-one + div.dropdown-menu  a.dropdown-item:hover{
    color: #343a40;
}
