<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="request" type="Microsoft.Practices.Unity.PerResolveLifetimeManager, Microsoft.Practices.Unity"/>
  <alias alias="thread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity"/>
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
  <alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity"/>

  <container>
    <register type="Topppro.Interfaces.Repositories.ICategoryRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.CategoryRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
    <register type="Topppro.Interfaces.Repositories.ICultureRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.CultureRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
    <register type="Topppro.Interfaces.Repositories.ISerieRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.SerieRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
    <register type="Topppro.Interfaces.Repositories.IProductRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.ProductRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
    <register type="Topppro.Interfaces.Repositories.IAttributeRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.AttributeRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
    <register type="Topppro.Interfaces.Repositories.IModelRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.ModelRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
    <register type="Topppro.Interfaces.Repositories.IPackageRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.PackageRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
    <register type="Topppro.Interfaces.Repositories.IAssnCategorySerieRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.AssnCategorySerieRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
    <register type="Topppro.Interfaces.Repositories.IAssnCategorySerieProductRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.AssnCategorySerieProductRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
    <register type="Topppro.Interfaces.Repositories.IBulletRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.BulletRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
    <register type="Topppro.Interfaces.Repositories.ICountryRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.CountryRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
    <register type="Topppro.Interfaces.Repositories.IDistributorRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.DistributorRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
    <register type="Topppro.Interfaces.Repositories.IDownloadRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.DownloadRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
    <register type="Topppro.Interfaces.Repositories.IPlatformRepository, Topppro.Interfaces" mapTo="Topppro.Repositories.Definitions.PlatformRepository, Topppro.Repositories">
      <lifetime type="request"/>
    </register>
  </container>
</unity>