<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral" restartOnExternalChanges="false" />
    <section name="product" type="Topppro.WebSite.Settings.ProductSettings, Topppro.WebSite" />
    <section name="manual" type="Topppro.WebSite.Settings.ManualSettings, Topppro.WebSite" />
    <section name="download" type="Topppro.WebSite.Settings.DownloadSettings, Topppro.WebSite" />
    <section name="distributor" type="Topppro.WebSite.Settings.DistributorSettings, Topppro.WebSite" />
  </configSections>

  <connectionStrings>
    <add name="ToppproEntities" connectionString="metadata=res://*/ToppproModel.csdl|res://*/ToppproModel.ssdl|res://*/ToppproModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=ToppproNew;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BackingServices" connectionString="Data Source=(local);Initial Catalog=tropi23_backing_net;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <unity configSource="Unity.Repositories.config" />

  <product root="~/Content/Products" thumb="Thumb" header="Header" popup="PopUp" hires="HiRes" />
  <manual root="~/Content/Manuals" />
  <download root="~/Content/Downloads" />
  <distributor root="~/Content/Images" none="grey.jpg" />
  
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <globalization enableClientBasedCulture="false" uiCulture="en" culture="en" />

    <customErrors mode="Off" defaultRedirect="~/Error">
      <error redirect="~/Error" statusCode="403" />
      <error redirect="~/Error" statusCode="404" />
      <error redirect="~/Error" statusCode="500" />
    </customErrors>

    <caching>
      <outputCache defaultProvider="MemoryOutputCache">
        <providers>
          <clear />
          <add name="MemoryOutputCache" type="Framework.Cache.Providers.MemoryOutputCacheProvider, Framework.Cache"/>
        </providers>
      </outputCache>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Mini" duration="900" varyByParam="none" />
          <add name="Short" duration="3600" varyByParam="none" />
          <add name="Medium" duration="14400" varyByParam="none" />
          <add name="Long" duration="21600" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    
    <authentication mode="Forms">
      <forms timeout="2880" />
    </authentication>
    
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="BackingServices"
             enablePasswordRetrieval="false"
             enablePasswordReset="false"
             requiresQuestionAndAnswer="false"
             applicationName="tropi_topppro_web"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="7"
             minRequiredNonalphanumericCharacters="1"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>

    <profile enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" 
             type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
             connectionStringName="BackingServices" 
             applicationName="tropi_topppro_web" />
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" 
             type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
             connectionStringName="BackingServices" 
             applicationName="tropi_topppro_web" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
