@model Topppro.Entities.Culture

<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Code)
    @Html.TextBoxFor(model => model.Code, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>
