@using Framework.Common.Extensions
@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions

@model Topppro.Entities.Assn_CategorySerie

<div id="@Model.Serie.Name.ToLower()" class="title">
    <h1>@Model.Serie.Name.ToUpper() <small>Series</small></h1>
</div>

@Html.Catalog()
