<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral" restartOnExternalChanges="false" />
  </configSections>
  <connectionStrings>
    <add name="ToppproEntities" connectionString="metadata=res://*/ToppproModel.csdl|res://*/ToppproModel.ssdl|res://*/ToppproModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\sqlexpress;Initial Catalog=topppro_net;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BackingServices" connectionString="Data Source=74.50.26.196\MSSQLSERVER2012;Initial Catalog=tropi23_backing_net;User ID=backing_user_net;Password=backing01*" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity configSource="Unity.Repositories.config" />
  <system.web>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="BackingServices"
             enablePasswordRetrieval="false"
             enablePasswordReset="false"
             requiresQuestionAndAnswer="false"
             applicationName="tropi_topppro_web"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="7"
             minRequiredNonalphanumericCharacters="1"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
  </system.web>
</configuration>
