<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ToppproEntities" connectionString="metadata=res://*/ToppproModel.csdl|res://*/ToppproModel.ssdl|res://*/ToppproModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ToppproNew;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>