@using Topppro.WebSite.Resources

@{
    ViewBag.Title = ":: Topp Pro Professional Audio Gear - Custom Sound ::";
}

@section Styles {
    <style type="text/css">
        #main
        {
            padding: 40px 0 91px;
        }
    </style>
}

<div style="text-align: center;">
    <img src="@Url.Content(ImageResource.Cs_1)" alt=""
        width="999" height="1294" />
    <a href="@Url.RouteUrl("Default", new { controller = "Public", action = "Software" })">
        <img src="@Url.Content(ImageResource.Cs_2)" alt=""
        width="999" height="1114" /></a>
    <img src="@Url.Content(ImageResource.Cs_3)" alt=""
        width="999" height="1183" />
</div>
