@if (Request.IsAuthenticated)
{
    <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
        Welcome <strong>@User.Identity.Name</strong>! @Html.ActionLink("Log Off", "LogOff", "Account", null, new { @class = "btn btn-danger square-btn-adjust" })
    </div>
}
else
{
    @:[ @Html.ActionLink("Log On", "LogOn", "Account") ]
}
