<p>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</p>
