@using Topppro.SecureSite.Models;

@model Topppro.Entities.Distributor

@{
    ViewBag.Title = "Delete";
    ViewBag.CurrentMenu = Menu_Enum.Distributors;
}

<h3>Confirm Delete ?</h3>
<fieldset>
    <legend>Distributor</legend>

    @Html.DisplayForModel()

</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input class="btn btn-danger" type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/old/tinymce/tinymce.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/old/tinymce/jquery.tinymce.min.js")" type="text/javascript"></script>
}