@model Topppro.Entities.Category

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Category</legend>

    @Html.DisplayForModel()

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
