@using Topppro.SecureSite.Models;

@model Topppro.Entities.Category

@{
    ViewBag.Title = "Details";
    ViewBag.CurrentMenu = Menu_Enum.Categories;
}

<fieldset>
    <legend>Category</legend>

    @Html.DisplayForModel()

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
