@using Topppro.Entities.Resources

<p>
    @Html.ActionLink("Create", "Create", "Download", new { id = ViewBag.ProductId },
        new { @class = "btn btn-primary editor-dialog", @role = "button", @type = "type-warning", @title = string.Format("{0} {1}", "Create", Ent_DownloadResource._Caption) })
</p>
