@model Topppro.Entities.Product

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
    <fieldset>
        <legend>Product</legend>

        @Html.EditorForModel()
        
        <p>
            <input class="btn btn-primary" type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Html.Partial("_Validator")
}
