@using Topppro.SecureSite.Models;

@model Topppro.Entities.Product

@{
    ViewBag.Title = "Details";
    ViewBag.CurrentMenu = Menu_Enum.Products;
}

<fieldset>
    <legend>Product</legend>

    @Html.DisplayFor(model => Model)

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
