@using Topppro.Entities
@using Topppro.WebSite.Extensions
@using Topppro.WebSite.Resources

@section Styles {
    <style type="text/css">
        #main
        {
            padding: 0 0 91px;
        }
		.page { min-height: 0 }
    </style>
}

<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
    <tr>
        <td colspan="5">
            @Html.Intro()
        </td>
    </tr>
</table>
<table width="999" border="0" align="center" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
    <tbody>
        <tr>
            <td>
                <a href="@Url.Content(GeneralResource.Topppro_Catalog)" target="_blank">
                    <img src="@Url.Content(ImageResource.Catalog_Download)"
                        alt="Download Catalog Line Products" border="0" /></a>
            </td>
        </tr>
    </tbody>
</table>
