@using Framework.Common.Extensions
@using Topppro.WebSite.Areas.Humanist.Extensions

@model Topppro.Entities.Assn_CategorySerie

<div id="@Model.Serie.Name.ToLower()" name="@Model.Serie.Name.ToLower()" class="title">
    <h1>@Model.Serie.Name.ToUpper()</h1>
</div>

@Html.Catalog()
