/* jssor slider arrow navigator skin css */
/*
.jssorarrowl                  (normal)
.jssorarrowr                  (normal)
.jssorarrowl:hover            (normal mouseover)
.jssorarrowr:hover            (normal mouseover)
.jssorarrowl.jssorarrowldn      (mousedown)
.jssorarrowr.jssorarrowrdn      (mousedown)
*/
.jssorarrowl, .jssorarrowr
{
    display: block;
    position: absolute; /* size of arrow element */
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(./arrow.png) no-repeat;
    overflow: hidden;
    opacity: .4;
    filter: alpha(opacity=40);
}
.jssorarrowl
{
    background-position: -5px -35px;
}
.jssorarrowr
{
    background-position: -65px -35px;
}
.jssorarrowl:hover
{
    background-position: -5px -35px;
    opacity: .8;
    filter: alpha(opacity=80);
}
.jssorarrowr:hover
{
    background-position: -65px -35px;
    opacity: .8;
    filter: alpha(opacity=80);
}
.jssorarrowl.jssorarrowldn
{
    background-position: -5px -35px;
    opacity: .3;
    filter: alpha(opacity=30);
}
.jssorarrowr.jssorarrowrdn
{
    background-position: -65px -35px;
    opacity: .3;
    filter: alpha(opacity=30);
}
