@model Topppro.Entities.Category

<div class="form-group">
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>
