@using Framework.MVC.Resources
@using Framework.MVC.Extensions
@using Topppro.Entities.Resources

@model Topppro.Entities.Culture

@{
    ViewBag.Title = PersistanceResource.Details;
}

<fieldset>
    <legend>@Ent_CultureResource._Caption</legend>

    @Html.DisplayForModel()

</fieldset>
<p>
    @Html.ActionLink(PersistanceResource.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>