<p>
    @Html.ActionLink(string.Format("{0} {1}", "Add", "Child Product"), "Create", "Package", new { id = ViewBag.ParentProductId },
        new { @class = "btn btn-primary editor-dialog", @role = "button", @type = "type-warning", @title = string.Format("{0} {1}", "Add", "Child Product") })
</p>

