@import url('Fonts.css');

*
{
    margin: 0;
    padding: 0;
}
html
{
    height: 100%;
}

body
{
    font-family: 'Humanst521BT-Light' , Sans-Serif;
    background-color: #F0EFF0;
    height: 100%;
}

a
{
    color: inherit;
    text-decoration: none;
}

a:visited
{
    color: inherit;
}

input[type=checkbox], input[type=radio]
{
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    cursor: hand;
    cursor: pointer;
}

input[type=radio]
{
    bottom: 2px;
}

input[type=checkbox]:checked + label
{
    text-decoration: underline;
}

input[type=radio]:checked + label
{
    font-weight: bold;
}

label
{
    cursor: hand;
    cursor: pointer;
}

.page
{
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#header
{
    height: 174px;
}

#main
{
    padding: 10px 18px 91px;
    background-color: #FFFFFF;
}

#footer
{
    width: 1000px;
    margin: -91px auto 0;
    height: 91px;
    position: relative;
}

td img
{
    display: block;
}

div.title h1
{
    font-size: 26px;
    color: #E85122;
}

div.title h1 > small
{
    font-weight: lighter;
    color: #646369;
}

ul.products
{
    margin: 16px -18px 16px;
}

ul.products > li
{
    width: 173px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 25px;
    margin-left: 18px; /**display: inline;     *zoom: 1;*/
}

ul.products > li > div.product-item
{
    width: 100%;
    border-top: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    padding-bottom: 1px;
}

ul.products > li > div.product-compare
{
    text-align: center;
}

ul.products img
{
    margin-top: 25px;
}

span.product_badge
{
    display: block;
    padding: 5px 10px;
    color: #ffffff;
    position: absolute;
    top: 0;
    z-index: 100;
}

span.product_badge.left
{
    font-size: 14px;
    color: #646369;
    left: 0;
    width: 105px;
}

span.product_badge.right
{
    background: #646369;
    right: 0;
    padding: 0px;
    text-align: center;
    width: 60px;
    top: -1px;
    right: -1px;
}

span.product_badge.right > big
{
    font-size: 26px;
}

span.product_badge.right > small
{
    background-color: #487B31;
    font-size: 12px;
    display: block;
}

ul.highlights
{
    list-style: square inside;
    font-size: 12px;
    color: #DF562A;
    margin: 10px 0 5px 5px;
}

ul.highlights > li > span
{
    color: #646369;
}


ul.products li > a
{
    text-decoration: none;
    color: #cccccc;
}

h4.bluetooth
{
    text-align: center;
    background-color: #c8c8c8;
    margin-top: 10px;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.table-striped > tbody > tr, .table-striped > tbody > tr tr
{
    height: 32px;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th
{
    background-color: #cccccc;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th
{
    background-color: #ffffff;
}

.editor-field
{
    margin-bottom: 15px;
}

.field-validation-error
{
    color: #d84a38;
}

.validation-summary-errors
{
    color: #d84a38;
    margin-bottom: 25px;
}

.validation-summary-errors > ul
{
    margin-top: 10px;
}

.slide-panel
{
    display: none;
    width: 220px;
    padding: 20px;
    background-color: #E25B2E;
    color: #ffffff;
}

.slide-panel.left
{
    position: fixed;
    top: 0px;
    height: 100%;
    z-index: 999999;
    left: -260px;
    right: auto;
    display: none;
}

.slide-panel > h2
{
    font-weight: lighter;
}

.slide-panel > ul.compare-list
{
    margin: 10px 0 15px;
    list-style-type: none;
    list-style-position: inside;
}