@using Topppro.Entities
@using Framework.Common.Extensions
@using System.Text.RegularExpressions
@using Topppro.WebSite.Areas.Humanist.Resources
@using Topppro.WebSite.Areas.Humanist.Extensions

@model IEnumerable<Topppro.Entities.Assn_CategorySerieProduct>

<ul class="products">
@foreach (var assn in Model)
{
    <li>
        <a href="@Url.RouteUrl("Detail", new { controller = ViewContext.RouteData.Values["controller"], id = assn.Id, name = assn.Product.Name.ToSeoSlug() })">
            <span class="product_badge left">@assn.Product.Name.ToUpper()</span>
            <span class="product_badge right">
                <big>@(Regex.Match(assn.Product.Name, @"\d+").Value)"</big><small>@assn.Product.Model.Name.ToUpper()</small>
            </span>
            <img src="http://res.cloudinary.com/dl05ea4pe/image/upload/v1424869384/maiN_r9_c17_owwr5v.gif">
            <ul class="highlights">
                <li>Donec tincidunt libero at justo.</li>
                <li>Nunc ut felis nunc.</li>
                <li>Quisque nec molestie magna.</li>
            </ul>
        </a>
    </li>
}
</ul>

