<ul class="products">
    <li>
        <a href="#">
            <span class="product_badge left">KS CS 8A</span>
            <span class="product_badge right">
                <big>15"</big><small>ACTIVE</small>
            </span>
            <img src="http://res.cloudinary.com/dl05ea4pe/image/upload/v1424869384/maiN_r9_c17_owwr5v.gif">
            <ul class="highlights">
                <li>Donec tincidunt libero at justo.</li>
                <li>Nunc ut felis nunc.</li>
                <li>Quisque nec molestie magna.</li>
            </ul>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="product_badge left">KS CS 8A</span>
            <span class="product_badge right">
                <big>15"</big><small>ACTIVE</small>
            </span>
            <img src="http://res.cloudinary.com/dl05ea4pe/image/upload/v1424869384/maiN_r9_c17_owwr5v.gif">
            <ul class="highlights">
                <li>Donec tincidunt libero at justo.</li>
                <li>Nunc ut felis nunc.</li>
                <li>Quisque nec molestie magna.</li>
            </ul>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="product_badge left">KS CS 8A</span>
            <span class="product_badge right">
                <big>15"</big><small>ACTIVE</small>
            </span>
            <img src="http://res.cloudinary.com/dl05ea4pe/image/upload/v1424869384/maiN_r9_c17_owwr5v.gif">
            <ul class="highlights">
                <li>Donec tincidunt libero at justo.</li>
                <li>Nunc ut felis nunc.</li>
                <li>Quisque nec molestie magna.</li>
            </ul>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="product_badge left">KS CS 8A</span>
            <span class="product_badge right">
                <big>15"</big><small>ACTIVE</small>
            </span>
            <img src="http://res.cloudinary.com/dl05ea4pe/image/upload/v1424869384/maiN_r9_c17_owwr5v.gif">
            <ul class="highlights">
                <li>Donec tincidunt libero at justo.</li>
                <li>Nunc ut felis nunc.</li>
                <li>Quisque nec molestie magna.</li>
            </ul>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="product_badge left">KS CS 8A</span>
            <span class="product_badge right">
                <big>15"</big><small>ACTIVE</small>
            </span>
            <img src="http://res.cloudinary.com/dl05ea4pe/image/upload/v1424869384/maiN_r9_c17_owwr5v.gif">
            <ul class="highlights">
                <li>Donec tincidunt libero at justo.</li>
                <li>Nunc ut felis nunc.</li>
                <li>Quisque nec molestie magna.</li>
            </ul>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="product_badge left">KS CS 8A</span>
            <span class="product_badge right">
                <big>15"</big><small>ACTIVE</small>
            </span>
            <img src="http://res.cloudinary.com/dl05ea4pe/image/upload/v1424869384/maiN_r9_c17_owwr5v.gif">
            <ul class="highlights">
                <li>Donec tincidunt libero at justo.</li>
                <li>Nunc ut felis nunc.</li>
                <li>Quisque nec molestie magna.</li>
            </ul>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="product_badge left">KS CS 8A</span>
            <span class="product_badge right">
                <big>15"</big><small>ACTIVE</small>
            </span>
            <img src="http://res.cloudinary.com/dl05ea4pe/image/upload/v1424869384/maiN_r9_c17_owwr5v.gif">
            <ul class="highlights">
                <li>Donec tincidunt libero at justo.</li>
                <li>Nunc ut felis nunc.</li>
                <li>Quisque nec molestie magna.</li>
            </ul>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="product_badge left">KS CS 8A</span>
            <span class="product_badge right">
                <big>15"</big><small>ACTIVE</small>
            </span>
            <img src="http://res.cloudinary.com/dl05ea4pe/image/upload/v1424869384/maiN_r9_c17_owwr5v.gif">
            <ul class="highlights">
                <li>Donec tincidunt libero at justo.</li>
                <li>Nunc ut felis nunc.</li>
                <li>Quisque nec molestie magna.</li>
            </ul>
        </a>
    </li>
</ul>
