@using Framework.Common.Extensions
@using Topppro.WebSite.Areas.Humanist.Resources
@using Topppro.WebSite.Areas.Humanist.Extensions

@model Topppro.Entities.Assn_CategorySerieProduct

@Html.DisplayForModel()

<div style="margin-bottom:30px;">
    @Html.Back(Url.RouteUrl("Catalog", new { controller = ViewContext.RouteData.Values["controller"] }) + "#" + Model.Assn_CategorySerie.Serie.Name.ToLower(), new { style = "float:right;" })
    <br style="clear: both;" />
</div>
