@using Topppro.WebSite.Areas.Humanist.Resources

@model System.Web.Mvc.HandleErrorInfo

<p align="center">
    <img src="@Url.Content("~/Areas/Humanist/Content/Images/topp-error.jpg")" alt="topp logo" width="250" height="250" />
</p>
<h1 style="text-align:center;">@Localization.Error_Title</h1>
<h2 style="text-align:center;">@Localization.Error_Message</h2>
