@model Topppro.Entities.Model

<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>
